$green: #02897A;
$blue: #4D8DFF;
$black: #22343D;
$white: #FFFFFF;
$sabzirang: #F03E3D;
$fiolativiy: #740A76;
$BLACK_TWO: #1F2E35;
$gray: #30444E;
$light_gray: #475E69;
$light_white: #E4E9F3;
$darck_black: rgba(23, 58, 86, 1);
$radius: 4px;